:root {
    --dark: #000000;
    --light: #ffffff;
    --bg: #202226;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--bg);
    position: relative;
    margin: 0;
    min-height: 100vh;
}

.portada {
	display: none;
}

@media only screen and (min-width: 300px){
	.portada {
		display: block;
		width: 100%;
		padding-bottom: 30px;
	}
}
.navbar {
    min-height: 2rem;
    margin-left: 1200px;
}