


@media only screen and (min-width: 300px){
	.portada {
		display: block;
		width: 100%;
		padding-bottom: 30px;
	}
}

@import url("https://fonts.googleapis.com/css?family=Roboto");
*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #455a64;
  line-height: 1.5;
}

.contenedor {
  max-width: 1170px;
  margin: 0 auto 1rem;
  padding: 1.5rem;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(69, 90, 100, 0.7);
  border-radius: 5px;
}
@media screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.servicios {
  list-style: none;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .servicios {
    text-align: left;
  }
}

.logo {
  text-align: center;
  margin-bottom: 1rem;
}

.info-empresa {
  padding: 1rem;
  background-color: #ffffff;
}
.info-empresa h3 {
  text-align: center;
}
@media screen and (min-width: 700px) {
  .info-empresa h3 {
    text-align: left;
    margin-bottom: 0.5rem;
  }
}

.nombre-empresa {
  color: #ffffff;
}

.contacto {
  padding: 1rem;
  background-color: #eaeff1;
}
.contacto h3 {
  margin-bottom: 1rem;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;
}
.formulario label {
  display: block;
}
.formulario button,
.formulario input,
.formulario textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccd7dc;
}
.formulario textarea {
  resize: none;
}

.full {
  grid-column: 1 / 3;
}

.boton-enviar {
  background-color: #ccd7dc;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.boton-enviar:focus, .boton-enviar:hover {
  background-color: #455a64;
  color: rgb(172, 62, 62);
  outline: 0;
  transition: background-color 2s ease-out;
}