


/*****************************
/* SECTION MAP
*****************************/
#google-container {
  position: relative;
  width: 100%;
  height: 300px;
}
@media (min-width: 768px) {
  #google-container {
    height: 300px;
  }
}
@media (min-width: 1170px) {
  #google-container {
    height: 400px;
  }
}

#google-map {
  position: relative;
}


#zoom-in, #zoom-out {
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-left: 10px;
}

#zoom-in i, #zoom-out i{
  font-size: 18px;
  color: white;
  line-height: 40px;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  background: rgb(16, 31, 46);
}



@media (min-width: 768px) {
  #zoom-in, #zoom-out {
    margin-left: 50px;
  }
}

#zoom-in {
  margin-top: 10px;
  margin-bottom: 1px;
}
@media (min-width: 768px) {
  #zoom-in {
    margin-top: 50px;
  }
}
