<!DOCTYPE html>
<html>
{% load static %}
<head>
	  <!-- Estilo CSS-->
    <link rel="stylesheet" href="/static/AduanaNacional/css/inventariostyle.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">	

	<title>Inventario</title>
</head>
<body>
	<a href="/AduanaNacional/zonas.html">
		<img class="portada" src="/static/AduanaNacional/img/aduana1.jpg">
	</a>
	
	<div class="container">
		<h2>Buscar en la descripción:</h2>
		<form action="/AduanaNacional/inventarioFiltrar/{{ Zona }}/" method="GET">
			<input type="text" name="filtro">
			<button type="submit">Buscar</button>
		</form>	
	
		<a class="navbar lead text-dark" href="/AduanaNacional/anadirObjeto/{{ Zona }}/">Añadir Objeto</a>

	<section >
     <h1 class="align-self-center text-center mx-auto"><FONT SIZE=10>Inventario: {{ Zona }}</FONT></h1>
  </section>

	<section>
		{% for objeto in Objetos %} 
		<section class="">
			<li>
				<!---- <h1 class="align-self-center text-center text-light mx-auto">{{ zona.nombre }}</h1> --->
				<a href="/AduanaNacional/inventario/{{ Zona }}/{{ objeto.descripcion }}/">
					<img src="/media/{{ objeto.foto }}" width="300" height="300"><br>
					<p>
						Descripción: {{ objeto.descripcion }}<br>
						Origen: {{ objeto.origen }}<br>
						Fecha de ingreso: {{ objeto.fecha }}<br>
						Propietario: {{ objeto.propietario }}<br>
						<br>
					</p>
				</a>
			</li>
		</section>
		{% endfor %}
	</section>
	
</body>
</html>