<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
	<link rel="stylesheet" href="/static/AduanaNacional/css/stylemap.css">
  
  </head>

<body>
	<img src="/static/AduanaNacional/css/aduana1.jpg">
</body>
<body>
<!-- partial:index.partial.html -->
<h1>Ubicaciones</h1>
<section id="google-map">
    <div id="google-container"></div>
    <div id="zoom-in"><i class="fa fa-plus"></i></div>
    <div id="zoom-out"><i class="fa fa-minus"></i></div>
</section>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js'></script>
<script  src="/static/AduanaNacional/css/scriptmapa.js"></script>

</body>

</html>