<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Objeto</title>
	<link rel="stylesheet" href="/static/AduanaNacional/css/objetostyle.css">
</head>
<body>
	<a href="/AduanaNacional/inventario/{{ Objeto.zona }}/">
		<img class="portada" src="/static/AduanaNacional/img/aduana1.jpg">
	</a>
<section>
	<center>
	<img src="/media/{{ Objeto.foto }}" width="400" height="400"><br>
	<p class="text-light">
		Descripcion: {{ Objeto.descripcion }}<br>
		Origen: {{ Objeto.origen }}<br>
		Fecha: {{ Objeto.fecha }}<br>
		Propietario: {{ Objeto.propietario }}<br>
	</p>
	</center>
</section>
<section>
	<center>
		<a class="button1" href="/AduanaNacional/editar/{{ Objeto.zona }}/{{ Objeto.descripcion }}/">Editar</a>
		<a class="button1" href="/AduanaNacional/eliminar/{{ Objeto.zona }}/{{ Objeto.descripcion }}/">Eliminar</a>
	</center>
</section>
</body>
</html>