<!doctype html>
<html lang="en">
{% load static %}
<head>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/AduanaNacional/css/bootstrap.min.css">

  <!-- Estilo CSS-->
  <link rel="stylesheet" href="/static/AduanaNacional/css/styles.css">

  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300&display=swap" rel="stylesheet">

  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

  <title>Zonas</title>
  <neta name= "viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <img class="portada" src="/static/AduanaNacional/img/aduana1.jpg">

  <br>

  <nav class="navbar navbar-expand-lg position-absolute w-100 bg-transparent z-top">
    <div class="container">
        <a class="navbar-brand text-light" href="{% url 'logout' %}"><FONT SIZE=6>Cerrar Sesión</FONT></a>
        <a class="navbar-brand text-light" href=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
  </nav>

  <section class="d-flex">
     <h1 class="align-self-center text-center text-light mx-auto"><FONT SIZE=10>BIENVENIDO</FONT></h1>
  </section>

  
    {% for zona in Zonas %} 
      <li>
        <!---- <h1 class="align-self-center text-center text-light mx-auto">{{ zona.nombre }}</h1> --->
        <a href="/AduanaNacional/inventario/{{ zona.nombre }}/">
          <h1 class="align-self-center text-center text-light mx-auto">{{ zona.nombre }}</h1>
          <h1 class="align-self-center text-center text-light mx-auto">Municipio: {{ zona.municipio }}</h1>
          <h1 class="align-self-center text-center text-light mx-auto">Departamento: {{ zona.departamento }}</h1>
          <h1 class="align-self-center text-center text-light mx-auto">Administracion: {{ zona.administracion }}</h1>
          <br>
        </a>
      </li>
      <hr>
    {% endfor %}

<!--- MENU DE ANTES
  <div id="menu" class="position-absolute w-100">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <div id="menu-dark" class="bg-dark">
          <div id="content-dark" class="d-flex flex-column">
            <ul class="list-unstyled display-4 mb-5">
              <li><a href="/AduanaNacional/inventario.html" class="text-light">Zona Franca Santa Cruz (Warnes)</a></li>
              <li><a href="/AduanaNacional/inventario.html" class="text-light">Zona Franca Santa Cruz (Montero)</a></li> 
              <li><a href="/AduanaNacional/inventario.html" class="text-light">Zona Franca Oruro (Tambo Quemado)</a></li> 
              <li><a href="/AduanaNacional/inventario.html" class="text-light">Zona Franca La Paz (El Alto)</a></li>  
              <li><a href="/AduanaNacional/inventario.html" class="text-light">Zona Franca Pando (Cobija)</a></li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://www.aduana.gob.bo/aduana7/contactenos"><i class="icon ion-md-call lead text-light mr-3"></i></a></li>
              <li class="list-inline-item"><a href="https://www.facebook.com/AduanaBolivia"><i class="icon ion-logo-facebook lead text-light mr-3"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/aduanabolivia/"><i class="icon ion-logo-instagram lead text-light"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div id="menu-light" class="bg-light">
          <div id="content-light">
          <center>
            <img src="/static/AduanaNacional/img/logoaduana.png" align="absmiddle" width="500" height="500">
          </center>
          </div>
        </div>
      </div>
    </div>
  </div>
--->

  <script src="/static/AduanaNacional/javascript/jquery.js"></script>
  <script src="/static/AduanaNacional/javascript/popper.min.js"></script>
  <script src="/static/AduanaNacional/javascript/bootstrap.min.js"></script>

  <script>
    function openMenu() {
      let menuDark = document.getElementById('menu-dark').style.width = '100%';
      let menuLight = document.getElementById('menu-light').style.width = '100%';
      let circle = document.getElementById('circle').style.cssText = 'background-color: #000000; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)'; 
      let menuOpen = document.getElementById('menu-open').style.cssText = 'transform: rotate(90deg); opacity: 0';

      setTimeout(() => {
        let menuClose = document.getElementById('menu-close').style.cssText = "opacity: 100; z-index: 9999";
      }, 500)

      setTimeout(() => {
        let contentDark = document.getElementById('content-dark').style.opacity = '1';
        let contentLight= document.getElementById('content-light').style.opacity = '1';
      }, 1000)
    }

    function hideMenu() {
      let menuClose = document.getElementById('menu-close').style.cssText = "opacity: 0; z-index: 999";
      let circle = document.getElementById('circle').style.cssText = 'background-color: transparent; box-shadow: none';

      let contentDark = document.getElementById('content-dark').style.opacity = '0';
      let contentLight= document.getElementById('content-light').style.opacity = '0';

      setTimeout(() => {
        let menuOpen = document.getElementById('menu-open').style.cssText = 'transform: rotate(0deg); opacity: 1';
      }, 500)

      setTimeout(() => {
        let menuDark = document.getElementById('menu-dark').style.width = '0';
        let menuLight = document.getElementById('menu-light').style.width = '0';
      }, 1000)
    }
  </script>
</body>

</html>